<hr>
<div class="container center-align">
  <a href="#">
      <span>
        <img class="responsive-img site-logo" src="./assets/bcbsma-stacked.svg">
      </span>
  </a>
</div>
<div class="container footer-class">
  Blue Cross Blue Shield of Massachusetts is an Independent Licensee of the Blue Cross and Blue Shield Association.
  <br><br>
  ® Registered Marks of the Blue Cross and Blue Shield Association. ®´, ®´´, TM, SM Registered, Service, and Trade Marks are the property of their respective owners.
  <br><br>
  © 2018 Blue Cross and Blue Shield of Massachusetts, Inc.., and Blue Cross and Blue Shield of Massachusetts HMO Blue, Inc.
  <br><br>
  <b>Terms of use, Privacy & Security
    <br><br>
    Accessibility
    <br><br>
    Nondiscrimination and Translations Resources</b>
  <br><br>
</div>
